description "gdr.rocks"
author "Chad Whitacre <chad@zetaweb.com>"

# http://upstart.ubuntu.com/cookbook/#really-understanding-start-on-and-stop-on
start on start network

# Automatically restart process if crashed
respawn

# Start the process
exec make --directory=/root run
